.header {
	background: rgba(34, 72, 146, 0.06);
}
.section_in {
}
.header_main {
	display: flex;
	align-items: center;
	padding: 3rem 0;
	@include bp($point_2) {
		justify-content: right
	}
}
.header_menu {
	ul {
		@include flex-center;
	}
	@include bp($point_2) {
		display: none;
	}
}
.header_nav {
	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	li {
		&:not(:last-child) {
			margin-right: 6rem;
		}
		a {
			font-family: $font_2;
			font-size: 2rem;
			@include accent-link;
		}
	}
	margin-right: 7.4rem;
}
.link-hover {
}
.header_mobil {
	display: flex;
	align-items: center;
	font-family: $font_3;
	font-size: 2.4rem;
	color: $blue;
	a {
		@include accent-link;
		color: $blue;
	}
	@include bp($point_2) {
		display: none;
	}
}
.icon {
}
.icon-call {
	margin-right: 1.5rem;
}
.burger_trigger {
	width: 3rem;
	height: 2rem;
	position: relative;
	display: none;
	@include bp($point_2) {
		display: block;
	}
	@include bp($point_5) {
		height: 1.8rem;
	}
	span {
		display: flex;
		width: 100%;
		height: .3rem;
		background-color: $blue;
		position: absolute;
		top: 0;
		right: 0;
		pointer-events: none;
		border-radius: 1rem;
		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
		}
		&:nth-child(3) {
			top: auto;
			bottom: 0;
			width: 100%;
		}
	}
}