.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arkada {
	font-size:calc(25/10)*1rem;
	width:calc(188/25)*1em;
}
.icon-arrowbtn {
	font-size:calc(15/10)*1rem;
	width:calc(15/15)*1em;
}
.icon-bell {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-call {
	font-size:calc(35/10)*1rem;
	width:calc(35/35)*1em;
}
.icon-close {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-coins {
	font-size:calc(27/10)*1rem;
	width:calc(27/27)*1em;
}
.icon-handshake {
	font-size:calc(26/10)*1rem;
	width:calc(32/26)*1em;
}
.icon-mail {
	font-size:calc(27/10)*1rem;
	width:calc(35/27)*1em;
}
.icon-next {
	font-size:calc(16/10)*1rem;
	width:calc(19/16)*1em;
}
.icon-pencil {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
.icon-prew {
	font-size:calc(16/10)*1rem;
	width:calc(19/16)*1em;
}
.icon-telegram {
	font-size:calc(22/10)*1rem;
	width:calc(26/22)*1em;
}
.icon-viber {
	font-size:calc(26/10)*1rem;
	width:calc(25/26)*1em;
}
.icon-wa {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
.icon-whatsapp {
	font-size:calc(27/10)*1rem;
	width:calc(28/27)*1em;
}
