// Global 
$header: 6rem;
$footer: 22.8rem;

// Mobile
$header_mob: 6rem;
$footer_mob: 10rem;

//---------------------------------------------fonts
$font_path: "../fonts/";
$font_1: 'Roboto-Light', sans-serif;
$font_2: 'Roboto-Regular', sans-serif;
$font_3: 'Gilroy-Medium', serif;
$font_4: 'Gilroy-SemiBold', serif;

$font_size_base: 1.6rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$dark: #303030;
$blue: #4600DC;
$trans: transparent;



$color_text_base: $black;
$color_link_base: $black;
$body_bg: $white;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup : 101,
	header : 100,
	footer : 100,
	el: -1,

);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 142rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_radius: 2.4rem;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 821px;
$point_5: 768px;
$point_6: 640px;
$point_7: 480px;
$point_8: 375px;
$point_9: 320px;
//---------------------------------------------media points

//---------------------------------------------forms

$input_font_size: $font_size_base;
$input_border_color: #ccc;
$input_border_color_active: $dark;
$input_placeholder_color: rgba($dark, .5);
$input_text_color: $dark;

//---------------------------------------------forms###
